In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('iris.csv')

In [7]:
tips = pd.read_csv('tips.csv')

## Iris dataset

In [8]:
df.sample()

     sepal_length  sepal_width  petal_length  petal_width    species
104           6.5          3.0           5.8          2.2  virginica

In [23]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [17]:
df['species'].isin(['setosa', 'versicolor'])

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [20]:
df1 = df[df['species'].isin(['setosa', 'versicolor'])]

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

[100 rows x 5 columns]

In [24]:
df1.species.unique()

array(['setosa', 'versicolor'], dtype=object)

In [25]:
df1.sample(5)

    sepal_length  sepal_width  petal_length  petal_width     species
22           4.6          3.6           1.0          0.2      setosa
30           4.8          3.1           1.6          0.2      setosa
69           5.6          2.5           3.9          1.1  versicolor
47           4.6          3.2           1.4          0.2      setosa
6            4.6          3.4           1.4          0.3      setosa

## Tips dataset

In [26]:
tips.sample()

    total_bill   tip   sex smoker  day    time  size
38       18.69  2.31  Male     No  Sat  Dinner     3

In [30]:
tips['time'].isin(['Dinner'])

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: time, Length: 244, dtype: bool

In [31]:
tips1 = tips[tips['time'].isin(['Dinner'])]

In [32]:
tips['time'].unique()

array(['Dinner', 'Lunch'], dtype=object)

In [33]:
tips1['time'].unique()

array(['Dinner'], dtype=object)

In [34]:
x = tips['time'].isin(['Dinner'])

In [35]:
tips[x]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]