In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('iris.csv')

## View Data

In [49]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [50]:
df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [51]:
df.sample()

    sepal_length  sepal_width  petal_length  petal_width     species
80           5.5          2.4           3.8          1.1  versicolor

In [52]:
df.sample(2)

     sepal_length  sepal_width  petal_length  petal_width    species
143           6.8          3.2           5.9          2.3  virginica
43            5.0          3.5           1.6          0.6     setosa

In [53]:
df.shape

(150, 5)

In [54]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

## Get information

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [56]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Counting categorical data

In [57]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [58]:
df.species.nunique()

3

In [59]:
df.species.value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Addition

In [60]:
df['add_sepal_petal_length'] = df['sepal_length'] + df['petal_length']
df['add_sepal_petal_length']

0       6.5
1       6.3
2       6.0
3       6.1
4       6.4
       ...
145    11.9
146    11.3
147    11.7
148    11.6
149    11.0
Name: add_sepal_petal_length, Length: 150, dtype: float64

In [61]:
df.sample(3)

,sepal_length,sepal_width,petal_length,petal_width,species,add_sepal_petal_length
44,5.1,3.8,1.9,0.4,setosa,7.0
18,5.7,3.8,1.7,0.3,setosa,7.4
74,6.4,2.9,4.3,1.3,versicolor,10.7

## Subtrction

In [62]:
df['sub_sepal_petal_length'] = df['sepal_length'] - df['petal_length']
df['sub_sepal_petal_length']

0      3.7
1      3.5
2      3.4
3      3.1
4      3.6
      ...
145    1.5
146    1.3
147    1.3
148    0.8
149    0.8
Name: sub_sepal_petal_length, Length: 150, dtype: float64

In [63]:
df.sample(3)

,sepal_length,sepal_width,petal_length,petal_width,species,add_sepal_petal_length,sub_sepal_petal_length
146,6.3,2.5,5.0,1.9,virginica,11.3,1.3
3,4.6,3.1,1.5,0.2,setosa,6.1,3.1
29,4.7,3.2,1.6,0.2,setosa,6.3,3.1

## Multiplication

In [64]:
df['multiply_sepal_petal_length'] = df['sepal_length'] * df['petal_length']
df['multiply_sepal_petal_length']

0       7.14
1       6.86
2       6.11
3       6.90
4       7.00
       ...
145    34.84
146    31.50
147    33.80
148    33.48
149    30.09
Name: multiply_sepal_petal_length, Length: 150, dtype: float64

## Division

In [65]:
df['ratio_sepal_length_width'] = df['sepal_length'] / df['sepal_width']
df['ratio_sepal_length_width']

0      1.457143
1      1.633333
2      1.468750
3      1.483871
4      1.388889
         ...
145    2.233333
146    2.520000
147    2.166667
148    1.823529
149    1.966667
Name: ratio_sepal_length_width, Length: 150, dtype: float64

## Exponential

In [66]:
df['sepal_length_squared'] = df['sepal_length'] ** 2
df['sepal_length_squared']

0      26.01
1      24.01
2      22.09
3      21.16
4      25.00
       ...
145    44.89
146    39.69
147    42.25
148    38.44
149    34.81
Name: sepal_length_squared, Length: 150, dtype: float64

In [67]:
df['sepal_length_squared'] / 2

0      13.005
1      12.005
2      11.045
3      10.580
4      12.500
        ...
145    22.445
146    19.845
147    21.125
148    19.220
149    17.405
Name: sepal_length_squared, Length: 150, dtype: float64

## How to rename columns or rows in pandas

In [69]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'add_sepal_petal_length', 'sub_sepal_petal_length',
       'multiply_sepal_petal_length', 'ratio_sepal_length_width',
       'sepal_length_squared'],
      dtype='object')

In [70]:
df.sample(3)

,sepal_length,sepal_width,petal_length,petal_width,species,add_sepal_petal_length,sub_sepal_petal_length,multiply_sepal_petal_length,ratio_sepal_length_width,sepal_length_squared
74,6.4,2.9,4.3,1.3,versicolor,10.7,2.1,27.52,2.206897,40.96
71,6.1,2.8,4.0,1.3,versicolor,10.1,2.1,24.40,2.178571,37.21
129,7.2,3.0,5.8,1.6,virginica,13.0,1.4,41.76,2.400000,51.84

In [72]:
# rename columns
rename_dict = {'sepal_length': 'SL',
               'sepal_width': 'SW'}

In [77]:
df.rename(rename_dict, axis='columns', inplace=True) # axis = 1 also works

In [85]:
df.head()

,SL,SW,petal_length,petal_width,species,add_sepal_petal_length,sub_sepal_petal_length,multiply_sepal_petal_length,ratio_sepal_length_width,sepal_length_squared
11111111,5.1,3.5,1.4,0.2,setosa,6.5,3.7,7.14,1.457143,26.01
1,4.9,3.0,1.4,0.2,setosa,6.3,3.5,6.86,1.633333,24.01
2,4.7,3.2,1.3,0.2,setosa,6.0,3.4,6.11,1.468750,22.09
3,4.6,3.1,1.5,0.2,setosa,6.1,3.1,6.90,1.483871,21.16
4,5.0,3.6,1.4,0.2,setosa,6.4,3.6,7.00,1.388889,25.00

In [84]:
# rename rows
r_rows_dict = {0: '11111111'}
df.rename(r_rows_dict, axis='index', inplace=True)